<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqEkAxlzbGFP9fscGqTdpKj4rk22MqwQQ">
    </script>
    <script type="text/javascript">

function initialize() {
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(28.77, 77.07)
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  setMarkers(map, beaches);
}

/**
 * Data for the markers consisting of a name, a LatLng and a zIndex for
 * the order in which these markers should display on top of each
 * other.
 */
var beaches = [
['North West',28.7705774,77.0794705,1],['North West',28.8516453,77.0593246,2],['North West',28.8425432,77.1267601,3],['Lam Pur',28.7705774,77.0794705,4],['Mamoor Pur',28.6139391,77.2090212,5],['Singhu',28.8543318,77.12940340000002,6],['Singhola',28.8373807,77.1718195,7],['Hamid Pur',28.8354391,77.18418910000001,8],['Taj Pur Kalan',28.8436202,77.1849609,9],['Akbar Pur Majra',28.82788799999999,77.1475734,10],['Palla',28.8368255,77.2078073,11],['Qullak Pur',28.6139391,77.2090212,12],['Jhangola',28.8365502,77.2155925,13],['Sunger Pur Shahdara  (un-inhabited)',28.8535307,77.19739969999999,14],['Sunger Pur Delhi',28.8096387,77.18975089999999,15],['Tigi Pur ',28.8248251,77.1320616,16],['Fateh Pur Jat',28.81872569999999,77.1063729,17],['Kham Pur',28.6139391,77.2090212,18],['Shah Pur Garhi',28.6139391,77.2090212,19],['Kureni',28.8147375,77.0740356,20],['Raja Pur Kalan (Un-inhabited)',28.83000909999999,77.0471403,21],['Sanoth ',28.8436149,77.0894951,22],['Ghoga ',28.8227365,76.9926789,23],['Hareoli',28.8169082,76.973012,24],['Ochandi',28.8038224,76.9769917,25],['Mungesh Pur',28.8340849,77.0067332,26],['Katewara',28.8084707,77.0053459,27],['Bazid Pur Thakran',28.7633195,77.0418327,28],['Nangal Thakran ',28.7855015,77.093139,29],['Sultan Pur Dabas',28.8022686,76.99310740000001,30],['Iradat Nagar alias Naya Bans',28.80659039999999,77.09681359999999,31],['Holambi Khurd',28.793176,77.144078,32],['Holambi Kalan',28.7988215,77.1793661,33],['Zind Pur',28.7971378,77.0860645,34],['Hiranki',28.6139391,77.2090212,35],['Mohd. Pur Ramzan Pur',28.7732606,77.1815867,36],['Tehri Daulat Pur (Un-inhabited)',28.7715569,77.14608480000001,37],['Garhi Khasru',28.6139391,77.2090212,38],['Nangli Poona',28.7646824,77.10856199999999,39],['Bodh Pur Bija Pur',28.7375608,77.0767726,40],['Kankar Khera',28.7766011,76.9630025,41],['Pansali',28.782805,77.1377863,42],['Punjab Khor',28.7704171,76.99713129999999,43],['Jat Khor',28.6139391,77.2090212,44],['Salah Pur Majra',28.753335,77.00819,45],['Budhan Pur',28.787561,76.9743873,46],['Chand Pur',28.6073243,77.0757289,47],['Madan Pur Dabas',28.4201316,77.05651759999999,48],['Rasool Pur',28.7577857,76.96694169999999,49],['Saoda',28.7114209,77.03053899999999,50],['Chatesar',28.7323222,76.96574629999999,51],['Jonti',28.6139391,77.2090212,52],['Garhi Rindhala',28.6139391,77.2090212,53],['Nizam Pur Rashid Pur',28.746136,76.978164,54],['Shanjar Pur(un-inhabited)',28.7379286,77.0014418,55],['Bankner (CT)',28.7649561,77.0822305,56],['Bhor Garh (CT)',28.832703,77.17908,57],['Tikri Khurd (CT)',28.6139391,77.2090212,58],['Bakhtawar Pur (CT)',28.776001,77.17965900000002,59],['Bankauli (CT)',28.732252,77.18216699999999,60],['Ali Pur (CT)',28.776001,77.17965900000002,61],['Mukhmel Pur (CT)',28.6139391,77.2090212,62],['Ibrahim Pur (CT)',28.732252,77.18216699999999,63],['Qadi Pur (CT)',28.75362609999999,77.13683069999999,64],['Libas Pur (CT)',28.7743482,77.1336749,65],['Siras Pur (CT)',28.732252,77.18216699999999,66],['Khera Kalan (CT)',28.6139391,77.2090212,67],['Sahibabad Daulat Pur (CT)',28.7649561,77.0822305,68],['Pehlad Pur Bangar (CT)',28.7350274,77.06546279999999,69],['Khera Khurd (CT)',28.732252,77.18216699999999,70],['Barwala (CT)',28.8216762,77.0663809,71],['Pooth Khurd (CT)',28.7743482,77.1336749,72],['Bawana (CT)',28.7379286,77.0014418,73],['Darya Pur Kalan (CT)',28.7649561,77.0822305,74],['Qutab Garh (CT)',28.7211434,77.0658795,75],['Lad Pur (CT)',28.6139391,77.2090212,76],['Kanjhawala (CT)',28.7051754,77.0264602,77],['Gheora (CT)',28.5567352,76.7843378,78],['Rani Khera (CT)',28.7307838,77.05952599999999,79],['Mubarak Pur Dabas (CT)',28.7008697,77.0579549,80],['Kirari Suleman Nagar (CT)',28.6139391,77.2090212,81],['Nithari (CT)',28.7051182,77.04093929999999,82],['Mohammad Pur Majri (CT)',28.5389607,77.20056799999999,83],['Karala (CT)',28.7478934,77.08206109999999,84],['Begum Pur (CT)',28.76878,77.0048174,85],['Pooth Kalan (CT)',28.7520318,77.0376671,86],['Sultan Pur Majra (CT)',28.6965644,77.2635038,87],['Bhalswa Jahangir Pur (CT)',28.6965644,77.2635038,88],['North East',28.6965644,77.2635038,89],['North East',28.732252,77.18216699999999,90],['North East',28.6041009,77.0976165,91],['Badar Pur Khadar',28.6996453,77.2818088,92],['Pur Delhi',28.7501226,77.25676059999999,93],['Pur Shahdara',28.50513,77.30039599999999,94],['Saba Pur Delhi',28.7214837,77.2670254,95],['Saba Pur Shahdara',28.7195771,77.2599607,96],['Sadat Pur Musalmanan',28.7133435,77.259157,97],['Bihari Pur',28.7501226,77.25676059999999,98],['Sher Pur',28.6139391,77.2090212,99],['Garhi Mendu',28.6139391,77.2090212,100],['Sadat Pur Gujran (CT)',28.7213976,77.2668283,101],['Baqiabad (CT)',28.7036073,77.25093249999999,102],['Karawal Nagar (CT)',28.732252,77.18216699999999,103],['Dayal Pur (CT)',28.6661929,77.217823,104],['Jiwan Pur alias Johri Pur (CT)',28.6139391,77.2090212,105],['Mustafabad (CT)',28.732252,77.18216699999999,106],['Khan Pur Dhani (CT)',28.5532166,77.20801949999999,107],['Tukhmir Pur (CT)',28.696426,77.281395,108],['Khajoori Khas (CT)',28.732252,77.18216699999999,109],['Mir Pur Turk (CT)',28.7184082,77.2602871,110],['Ziauddin Pur (CT)',28.6827148,77.2845494,111],['Gokal Pur (CT)',28.68114529999999,77.27409399999999,112],['Babar Pur (CT)',28.6875695,77.2986305,113],['Jaffrabad (CT)',28.696426,77.281395,114],['Mandoli (CT)',28.74838939999999,77.2060241,115],['North ',28.74838939999999,77.2060241,116],['North ',28.7640083,77.2045867,117],['North ',28.74838939999999,77.2060241,118],['Salem Pur Majra Burari',28.6139391,77.2090212,119],['Badar Pur Majra Burari',28.6139391,77.2090212,120],['Jagat Pur ilaqa Shahdara (un-inhabited)',28.732252,77.18216699999999,121],['Jagat Pur ilaqa Delhi',28.7535212,77.19482409999999,122],['Mukand Pur (CT)',28.75512,77.16049509999999,123],['Kamal Pur Majra Burari (CT)',28.7287095,77.1964753,124],['Burari  (CT)',28.6195591,77.2979782,125],['Jharoda Majra Burari  (CT)',28.75512,77.16049509999999,126],[' East',28.6195591,77.2979782,127],[' East',28.5579296,77.0042843,128],[' East',28.6139391,77.2090212,129],['Shamas Pur',28.6195591,77.2979782,130],['Shakar Pur Baramad (CT)',28.610227,77.3350409,131],['Gharonda Neemka Bangar alias Patpar Ganj (CT)',28.6140358,77.32158660000002,132],['Gharoli (CT)',28.7732017,77.17407639999999,133],['Kondli (CT)',28.6215493,77.2849945,134],['Dallo Pura (CT)',28.6139391,77.2090212,135],['Chilla Saroda Bangar (CT)',28.6663433,77.067959,136],['Chilla Saroda Khadar (CT)',28.6663433,77.067959,137],[' West',28.6139391,77.2090212,138],[' West',28.6663776,76.97965409999999,139],[' West',28.6731361,76.9984049,140],['Neel Wal',28.6275768,77.05973159999999,141],['Jaffar Pur alias Hiran Kudna',28.6663433,77.067959,142],['Hastsal (CT)',28.62014,77.040902,143],['Raja Pur Khurd (CT)',28.631831,77.23684519999999,144],['Bapraula (CT)',28.6511972,77.041245,145],['Tilang Pur Kotla (CT)',28.7649561,77.0822305,146],['Shafi Pur Ranhola (CT)',28.6786386,77.0672702,147],['Nilothi (CT)',28.6139391,77.2090212,148],['Nangloi Jat (CT)',28.6673757,77.01987419999999,149],['Quammruddin Nagar (CT)',28.657154,77.05644749999999,150],['Mundka (CT)',28.62014,77.040902,151],['Bakkar Wala (CT)',28.5827577,77.03341790000002,152],['Tikri Kalan (CT)',28.5827577,77.03341790000002,153],[' South West',28.643314,77.016093,154],[' South West',28.6413612,76.9840178,155],[' South West',28.6258817,76.94306,156],['Dichaon Kalan',28.6183803,76.8910267,157],['Surakh Pur',28.5827577,77.03341790000002,158],['Mundhela Khurd',28.6139391,77.2090212,159],['Mundhela Kalan',28.582799,76.95998519999999,160],['Surera',28.5803203,76.97870759999999,161],['Kharkhari Nahar',28.6119148,76.8949702,162],['Paprawat',28.5244281,77.1854559,163],['Goela Khurd',28.5735011,77.01182460000001,164],['Qutab Pur',28.5647261,76.98144099999999,165],['Taj Pur Khurd',28.6139391,77.2090212,166],['Rewla Kham Pur',28.5795662,76.94479079999999,167],['Pindwala Kalan',28.5827278,76.93675569999999,168],['Kharkhari Jatmal',28.5808745,76.9060836,169],['Khera Dabar',28.565785,76.96286099999999,170],['Samas Pur Khalsa',28.561749,77.23682699999999,171],['Baqar Garh',28.6286586,77.3207839,172],['Isa Pur',28.6090126,76.9854526,173],['Qazi Pur',28.6139391,77.2090212,174],['Malik Pur zer-Najafgarh',28.6139391,77.2090212,175],['Darya Pur Khurd',28.561684,76.941851,176],['Sher Pur Deri',28.6330401,77.3116215,177],['Kharkhari Rond',28.6139391,77.2090212,178],['Hasan Pur',28.5614432,76.96142549999999,179],['Daulat Pur',28.5461863,76.9901874,180],['Pindwala Khurd',28.6139391,77.2090212,181],['Kangan Heri',28.7457696,77.10727779999999,182],['Salah Pur',28.6139391,77.2090212,183],['Raghu Pur',28.520794,76.986137,184],['Badhosra',28.5209051,76.9640111,185],['Nanak Heri',28.6099147,77.0904109,186],['Jhatikra',28.628926,77.080654,187],['Asalat Pur Khawad',28.6139391,77.2090212,188],['Shikar Pur',28.5319993,76.9239727,189],['Jain Pur(Un-inhabited)',28.5414375,76.9509831,190],['Goman Hera',28.5416202,76.8871637,191],['Jhuljhuli',28.5544853,76.8650289,192],['Sarang Pur',28.6909688,77.1122003,193],['Dhansa',28.5386306,76.9038011,194],['Ghalib Pur',28.6139391,77.2090212,195],['Raota',28.6506639,76.99054989999999,196],['Deorala',28.5987342,77.0178507,197],['Jharoda Kalan (CT)',28.5237806,76.90226539999999,198],['Kair (CT)',28.6139391,77.2090212,199],['Jaffar Pur Kalan (CT)',28.5987342,77.0178507,200],['Ujwa (CT)',28.611065,76.97508599999999,201],['Mitraon (CT)',28.7743482,77.1336749,202],['Khera (CT)',28.6118441,76.98566439999999,203],['Dindar Pur (CT)',28.62014,77.040902,204],['Roshan Pura alias Dichaon Khurd (CT)',28.5640083,77.0025339,205],['Nangli Sakrawati (CT)',28.732252,77.18216699999999,206],['Chhawala (CT)',28.732252,77.18216699999999,207],['Moradabad Pahari (CT)',28.6070142,77.30284809999999,208],['Kusum Pur (CT)',28.5380977,77.09204729999999,209],['Malik Pur Kohi alias Rang Puri (CT)',28.659338,77.20991769999999,210],['Sambhalka (CT)',28.5227695,77.0989977,211],['Kapas Hera (CT)',28.5091747,77.0945555,212],['Rajokri (CT)',28.5086497,77.2175223,213],['Ghitorni (CT)',28.5111787,77.0935054,214],[' South ',28.5086497,77.2175223,215],[' South ',28.4802627,77.1567848,216],[' South ',28.4787481,77.1939062,217],['Gadai Pur',28.5086497,77.2175223,218],['Satberi',28.4784654,77.1282809,219],['Shahur Pur',28.4719357,77.1466773,220],['Aya Nagar (CT)',28.4521567,77.02630239999999,221],['Jona Pur (CT)',28.6846245,77.1338497,222],['Fateh Pur Beri (CT)',28.7091331,77.099769,223],['Dera Mandi (CT)',28.4588324,77.18643910000002,224],['Bhati (CT)',28.6139391,77.2090212,225],['Asola (CT)',28.445122,77.1459309,226],['Chandan Hola (CT)',28.5056728,77.174533,227],['Sultan Pur (CT)',28.4985194,77.1852679,228],['Chattar Pur (CT)',28.7649561,77.0822305,229],['Maidan Garhi (CT)',28.5273755,77.2142099,230],['Raj Pur Khurd (CT)',28.5273755,77.2142099,231],['Deoli (CT)',28.6139391,77.2090212,232],['Neb Sarai (CT)',28.5088174,77.2372972,233],['Saidul Azaib (CT)',28.5085484,77.2323012,234],['Tigri (CT)',28.6139391,77.2090212,235],['Saidabad (CT)',28.6139391,77.2090212,236],['Kotla Mahigiran (CT)',28.6139391,77.2090212,237],['Pul Pehlad (CT)',28.532789,77.3069391,238],['Taj Pul (CT)',28.6139391,77.2090212,239],['Mithe Pur (CT)',28.6421273,77.23262849999999,240],['Molar Band (CT)',28.5003691,77.3149662,241],['Aali (CT)',28.5230516,77.3077034,242]
];

function setMarkers(map, locations) {
  // Add markers to the map

  // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.
  var image = {
    url: 'beachflag.png',
    // This marker is 20 pixels wide by 32 pixels tall.
    size: new google.maps.Size(20, 32),
    // The origin for this image is 0,0.
    origin: new google.maps.Point(0,0),
    // The anchor for this image is the base of the flagpole at 0,32.
    anchor: new google.maps.Point(0, 32)
  };
  // Shapes define the clickable region of the icon.
  // The type defines an HTML &lt;area&gt; element 'poly' which
  // traces out a polygon as a series of X,Y points. The final
  // coordinate closes the poly by connecting to the first
  // coordinate.
  var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var populationOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: myLatLng,
      radius: 1000
    };
    // Add the circle for this city to the map.
    cityCircle = new google.maps.Circle(populationOptions);
  }
}

google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas" ></div>
  </body>
</html>